<h2 class="text-center">Thông tin nhân viên: {{employee.name}}</h2>
<form class="col-md-6 offset-md-3">

  <div class="form-group row">
    <label class="col">
      Mã nhân viên
      <input type="text" class="form-control" [value]="employee.code">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Tên nhân viên
      <input type="text" class="form-control" [value]="employee.name">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Ngày sinh:
      <input type="text" class="form-control" [value]="employee.dateOfBirth">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      CMND:
      <input type="text" class="form-control" [value]="employee.idCard">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Lương
      <input type="text" class="form-control" [value]="employee.salary">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Điện thoại
      <input type="text" class="form-control" [value]="employee.phone">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" [value]="employee.email">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Địa chỉ
      <input type="text" class="form-control" [value]="employee.address">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Vị trí
      <input type="text" class="form-control" [value]="employee.position">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Trình độ
      <input type="text" class="form-control" [value]="employee.level">
    </label>
  </div>

  <div class="form-group row">
    <label class="col">
      Bộ phận
      <input type="text" class="form-control" [value]="employee.part">
    </label>
  </div>



</form>

