<!--<a routerLink="/customer">Customer</a>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Furama Resort</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Trang chủ <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Nhân viên</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/create-employee">Thêm nhân viên</button>
            <button ngbDropdownItem routerLink="/list-employee">Danh sách nhân viên</button>
          </div>
        </div>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic12" ngbDropdownToggle>Khách hàng</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/create-cus">Thêm khách hàng</button>
            <button ngbDropdownItem routerLink="/list-cus">Danh sách khách hàng</button>
          </div>
        </div>
      </li>
      &nbsp;
      &nbsp;
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic122" ngbDropdownToggle>Dịch vụ</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/create-ser">Thêm dịch vụ</button>
            <button ngbDropdownItem routerLink="/list-ser">Danh sách dịch vụ</button>
          </div>
        </div>
      </li>

    </ul>

  </div>
</nav>
<router-outlet></router-outlet>

<!--<app-test></app-test>-->
