<h2 class="text-center">Thêm khách hàng mới</h2>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row" >
    <div class="popup">
      <label class="col">
        Tên khách hàng:
        <input type="text" class="form-control" formControlName="name">
      </label>
      <div class="popuptext"  *ngIf="customerForm.get('name').invalid && customerForm.get('name').touched">
        <span *ngIf="customerForm.get('name').hasError('required')">Bạn phải điền nội dung</span>
        <span *ngIf="customerForm.get('name').hasError('pattern')">Bạn phải nhập đúng định dạng tên</span>
      </div>
    </div>

    </div>
  <div class="form-group row">
    <label class="col">
      Ngày sinh:
      <input type="date" class="form-control" formControlName="dateOfBirth" >
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="customerForm.get('dateOfBirth').invalid && customerForm.get('dateOfBirth').touched">
    <span *ngIf="customerForm.get('dateOfBirth').hasError('required')">Bạn phải điền nội dung</span>
    <span *ngIf="customerForm.get('dateOfBirth').hasError('pattern')">Ngày sinh phải đúng định dạng ngày giờ theo format DD/MM/YYYY</span>
  </div>
  <div class="form-group row">
    <label class="col">
      CMND:
      <input type="text" class="form-control" formControlName="idCard" required>
      <div class="invalid-tooltip" *ngIf="customerForm.get('idCard').invalid && customerForm.get('idCard').touched">
        <span *ngIf="customerForm.get('idCard').hasError('required')">Bạn phải điền nội dung</span>
        <span *ngIf="customerForm.get('idCard').hasError('pattern')">Số CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9</span>
      </div>
    </label>
  </div>

  <div class="form-group row">
    <div class="tooltip">
      Điện thoại
      <input type="text" class="form-control" formControlName="phone">
      <div class="tooltiptext" role="alert" *ngIf="customerForm.get('phone').invalid && customerForm.get('phone').touched">
        <span *ngIf="customerForm.get('phone').hasError('required')">Bạn phải điền nội dung</span>
        <span *ngIf="customerForm.get('phone').hasError('pattern')">Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
<!--    <div class="md-form">-->
<!--      <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>-->
<!--      <input mdbInput mdbValidate formControlName="email" minLength="8" maxLength="25" type="email"-->
<!--             class="form-control" id="form9">-->
<!--      <label for="form9">Type your e-mail</label>-->
<!--      <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid</mdb-error>-->
<!--      <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mdb-success>-->
<!--    </div>-->
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="customerForm.get('email').invalid && customerForm.get('email').touched">
    <span *ngIf="customerForm.get('email').hasError('required')">Bạn phải điền nội dung</span>
    <span *ngIf="customerForm.get('email').hasError('email')">Địa chỉ email phải có định dạng abc@xyz.ijk</span>
  </div>
  <div class="form-group row">
    <label class="col">
      Địa chỉ
      <input type="text" class="form-control" formControlName="address" >
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="customerForm.get('address').invalid && customerForm.get('address').touched">
    <span *ngIf="customerForm.get('address').hasError('required')">Bạn phải điền nội dung</span>
    <span *ngIf="customerForm.get('address').hasError('pattern')">Bạn phải điền đúng định dạng</span>
  </div>
  <div class="form-group row">
    <label class="col">
      Loại dịch vụ
      <select formControlName="typeCus" class="form-control">
        <option value="">Chọn</option>
        <ng-container *ngFor="let typecustomer of typecustomers">
          <option value="{{typecustomer.name}}">{{typecustomer.name}}</option>
        </ng-container>
      </select>
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="customerForm.get('typeCus').invalid && customerForm.get('typeCus').touched">
    <span *ngIf="customerForm.get('typeCus').hasError('required')">Bạn phải điền nội dung</span>
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Thêm</button>
  </div>
</form>


