<p>color works!</p>
<h2>Color Picker</h2>
<div>
  <label>Chọn màu:</label>
  <input [value]="background" type="color" (change)="onChange($event.target.value)">
</div>

<p>Output:</p>
<div class="color-preview" [style.background]="background" style="width: 500px;height: 10px">

</div>
<br>
<br>
<div >
  Gõ nội dung:
  <input type="text" [(ngModel)]="abc"><br><br>
  <div>Hiển thị: <b [style.color]="background">{{abc}}</b></div>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
