<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <ng-container>
      <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="term" placeholder="Tìm kiếm">
      </nav>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Mã khách hàng</th>
          <th scope="col" sortable="name" >Tên khách hàng</th>
          <th scope="col" sortable="name" >Email</th>
          <th scope="col" sortable="population" >Xem thông tin</th>
          <th scope="col" sortable="population" >Cập nhật</th>
          <th scope="col" sortable="population" >Xóa</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let customer of customerList| filter:term | paginate: { itemsPerPage: 1, currentPage: p }">
          <th scope="row">{{ customer.code }}</th>
          <td scope="row">{{ customer.name }}</td>
          <td scope="row">{{ customer.email }}</td>
          <td scope="row">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [routerLink]="['/cus-detail', customer.id]"> Xem thông tin
              </label>
            </div>
          </td>
          <td scope="row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td scope="row">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" >
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" (click)="deleteById(customer.id)"> Xóa
              </label>
            </div>
          </td>
        </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event" class="pag position-fixed" ></pagination-controls>
      </table>
    </ng-container>
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">

  </div>
</div>
