<!--<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">-->
<!--  <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Click to Open</button>-->
<!--  <div ngbDropdownMenu aria-labelledby="dropdownManual">-->
<!--    <button ngbDropdownItem routerLink="/home">Home</button>-->
<!--    <button ngbDropdownItem routerLink="/todo">Todo</button>-->
<!--    <button ngbDropdownItem routerLink="/register">Register</button>-->
<!--    <button ngbDropdownItem routerLink="/login">Login</button>-->
<!--&lt;!&ndash;    <button ngbDropdownItem routerLink="/sign-up">Sign Up</button>&ndash;&gt;-->
<!--    <button ngbDropdownItem routerLink="/date-util">Date util</button>-->
<!--    <button ngbDropdownItem routerLink="/routing-param">Routing param</button>-->
<!--    <button ngbDropdownItem routerLink="/dictionary">Dictionary</button>-->
<!--&lt;!&ndash;    <button ngbDropdownItem routerLink="/example">Example</button>&ndash;&gt;-->
<!--    <button ngbDropdownItem routerLink="/image-gallery">Image Gallery</button>-->
<!--&lt;!&ndash;    <button ngbDropdownItem routerLink="/img-home">Image Slider</button>&ndash;&gt;-->
<!--    <button ngbDropdownItem routerLink="/blog">Blog</button>-->
<!--    <button ngbDropdownItem routerLink="/todo-api">Todi api</button>-->
<!--  </div>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<app-test2></app-test2>
